schema/mayaa_core_0_9_20.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:m="http://mayaa.seasar.org" targetNamespace="http://mayaa.seasar.org" elementFormDefault="qualified">
	<xs:element name="mayaa">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="m:beforeRender" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="m:afterRender" minOccurs="0" maxOccurs="1"/>
				<xs:element name="comment" type="m:commentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="write" type="m:writeType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="if" type="m:ifType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="for" type="m:forType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="with" type="m:withType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="exec" type="m:execType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="insert" type="m:insertType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="doRender" type="m:doRenderType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="null" type="m:nullType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="element" type="m:elementType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="echo" type="m:echoType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ignore" type="m:ignoreType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="noCache" use="optional" default="false">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="templateSuffix" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ja"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="contentType" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="test"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="afterRender" type="xs:string"/>
	<xs:complexType name="attributeType">
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="beforeRender" type="xs:string"/>
	<xs:complexType name="commentType" mixed="true">
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="doBase" type="xs:string"/>
	<xs:element name="doBody" type="xs:string"/>
	<xs:complexType name="doRenderType">
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="echoType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="m:doBody" minOccurs="0" maxOccurs="1"/>
			<xs:element name="attribute" type="m:attributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="elementType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="m:doBody" minOccurs="0" maxOccurs="1"/>
			<xs:element name="attribute" type="m:attributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="execType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="m:doBody" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="m:doBase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="comment" type="m:commentType" minOccurs="0"/>
			<xs:element name="write" type="m:writeType" minOccurs="0"/>
			<xs:element name="if" type="m:ifType" minOccurs="0"/>
			<xs:element name="for" type="m:forType" minOccurs="0"/>
			<xs:element name="with" type="m:withType" minOccurs="0"/>
			<xs:element name="exec" type="m:execType" minOccurs="0"/>
			<xs:element name="insert" type="m:insertType" minOccurs="0"/>
			<xs:element name="element" type="m:elementType" minOccurs="0"/>
		</xs:choice>
		<xs:attribute name="script">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="src">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="encoding">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="forType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="m:doBody" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="m:doBase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="comment" type="m:commentType" minOccurs="0"/>
			<xs:element name="write" type="m:writeType" minOccurs="0"/>
			<xs:element name="if" type="m:ifType" minOccurs="0"/>
			<xs:element name="for" type="m:forType" minOccurs="0"/>
			<xs:element name="with" type="m:withType" minOccurs="0"/>
			<xs:element name="exec" type="m:execType" minOccurs="0"/>
			<xs:element name="insert" type="m:insertType" minOccurs="0"/>
			<xs:element name="element" type="m:elementType" minOccurs="0"/>
		</xs:choice>
		<xs:attribute name="init" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="test" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="after" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="max" type="xs:integer"/>
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ifType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="m:doBody" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="m:doBase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="comment" type="m:commentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="write" type="m:writeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="if" type="m:ifType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="for" type="m:forType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="with" type="m:withType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="exec" type="m:execType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="insert" type="m:insertType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="element" type="m:elementType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="test" type="xs:string" use="required"/>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ignoreType">
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="insertType">
		<xs:attribute name="path" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="nullType">
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="withType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="m:doBody" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="m:doBase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="comment" type="m:commentType" minOccurs="0"/>
			<xs:element name="write" type="m:writeType" minOccurs="0"/>
			<xs:element name="if" type="m:ifType" minOccurs="0"/>
			<xs:element name="for" type="m:forType" minOccurs="0"/>
			<xs:element name="with" type="m:withType" minOccurs="0"/>
			<xs:element name="exec" type="m:execType" minOccurs="0"/>
			<xs:element name="insert" type="m:insertType" minOccurs="0"/>
			<xs:element name="element" type="m:elementType" minOccurs="0"/>
		</xs:choice>
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="writeType">
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="default">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="PCDATA"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="escapeXml" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="escapeWhitespace" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xpath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="message"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="replace" default="true">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
